{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<!-- LEFT SIDE -->
<div class="left-wrap">

    <div class="inner fadeInLeft">
        
        <!-- Header -->
        <header class="site-header">
            <h1 class="site-title"></h1>
        </header>

        <!-- Intro -->
        <div class="intro">
            <div class="intro-title">We Solve Your Data Problems</div>
        </div>

        <!-- Contact form -->
        <div class="newsletter">
            <form action="/php/test.php" method="post" id="contact-form">
                <p class="form-field full">
                    <label for="contact_message" class="visually-hidden">Your message</label>
                    <i class="icon ion-chatbox" aria-hidden="true"></i>
                    <textarea type="text" name="contact_message" id="contact_message" rows="3" placeholder="Your message"></textarea>
                </p>
                <p class="form-field">
                    <label for="contact_email" class="visually-hidden">Your email address</label>
                    <i class="icon ion-paper-airplane" aria-hidden="true"></i>
                    <input type="text" name="contact_email" id="contact_email" value="" placeholder="Your email address" />
                </p>
                <p class="form-submit">
                    <input type="submit" name="newsletter_submit" id="newsletter_submit" value="Get In Touch" />
                </p>
            </form>
        </div>

    </div>

    <!-- Background image and overlay -->
    <div class="bg"></div>
    <div class="bg-overlay"></div>

</div>
<!-- END LEFT SIDE -->

<!-- RIGHT SIDE -->
<div class="right-wrap">

    <div class="inner fadeInRight">

        <!-- Navigation -->
        <nav class="site-nav">
            <h3 class="visually-hidden">Navigation</h3>
            <ul id="menu">
                <li><a href="#about" title="About">About</a></li>
                <li><a href="#contacts" title="Contact">Contact</a></li>
            </ul>
        </nav>

        <!-- Main content -->
        <div id="main">

            <!-- Section About -->
            <section id="about" class="main-section">
                <h1>Abnoba LLC</h1>
                <p>Leverage a decade's worth of experience in data analysis and cybersecurity to solve your business's data problems. Abnoba provides tailored services to organizations looking to acquire, analyze and visualize a wide variety of data.</p>
                <h1>Our Services</h1>
                
                <!-- Services list -->
                <div class="service">
                    <div class="service-icon">
                        <i class="icon ion-android-download" aria-hidden="true"></i>
                    </div>
                    <div class="service-desc">
                        <p><span class="highlight">Data Mining</span> extract the data you need from websites, applications and documents. Clean and structure the data to suit your needs.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-icon">
                        <i class="icon ion-android-bulb" aria-hidden="true"></i>
                    </div>
                    <div class="service-desc">
                        <p><span class="highlight">Analysis and Prediction</span> leverage machine learning and statistical analysis to tease actionable insights from a mountain of data.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-icon">
                        <i class="icon ion-android-desktop" aria-hidden="true"></i>
                    </div>
                    <div class="service-desc">
                        <p><span class="highlight">Interactive Visualization</span> present data in a appealing and useable form to stakeholders though online applications or print documents.</p>
                    </div>
                </div>

            </section>


            <!-- Section Contacts -->
            <section id="contacts" class="main-section">
                <h1>Contacts</h1>

                <!-- Google map -->
                <div id="map-canvas" class="google-map"></div>
                
                <!-- Contact details -->
                <div class="row">
                    <div class="one-half">
                        <h2><i class="icon ion-android-pin"></i>Address</h2>
                        <p>Abnoba LLC<br />PO Box 4417<br /> Arlington, VA 22204</p>
                    </div>
                    <div class="one-half">
                        <h2><i class="icon ion-paper-airplane"></i>Email</h2>
                        <p>info@abnoba.io</p>
                    </div>
                </div>

            </section>

        </div>

        <!-- Footer -->
        <footer class="site-footer">

            <!-- Social links -->
            <ul class="footer-social">
                <li class="facebook"><a href="mailto:info@abnoba.io" title="Facebook" class="icon ion-email"><span class="visually-hidden">Email</span></a></li>
            </ul>
                
        </footer>

    </div>

</div>
<!-- END RIGHT SIDE -->

<!-- Loading... -->
<div id="preload">
    <div id="preload-content">
        <div class="spinner">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <div>Loading...</div>
    </div>
</div>
{% endblock %}
